@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  position: relative;
  background-color: #0e181e;
}

.main {
  min-height: 100vh;
  @apply w-full mt-[4rem] md:mt-[4.5rem] lg:mt-[5rem] px-3 md:px-4 lg:px-5;
}

.flex-center {
  @apply flex justify-center items-center;
}

.flex-start {
  @apply flex justify-start items-start;
}

.flex-end {
  @apply flex justify-end items-center;
}

.flex-between {
  @apply flex justify-between items-center;
}
